allowed-build-dependencies[]=unrs-resolver
allowed-build-dependencies[]=@prisma/client
allowed-build-dependencies[]=@prisma/engines
allowed-build-dependencies[]=@tailwindcss/oxide
allowed-build-dependencies[]=esbuild
allowed-build-dependencies[]=prisma
allowed-build-dependencies[]=sharp
